.drawer {
  background-color: yellow;

  &-item {
    width: 600 !important;
    border: 1px dotted black !important;
  }

  &-title {
    width: 570px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}
