.menu-item {
  padding: 15px;
  border: 2px dotted black;
  cursor: pointer;

  &-name {
    
  }

  &-price {
    
  }
}

.modal-body {
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-text-form-container {
  margin-top: 15px;
}