.chef-order-item {
  padding: 15px;
  border: 2px dotted black;
  cursor: pointer;
}

.modal-body-comments {
  background-color: #e0d9d9;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  &-p {
    font-weight: 600;
  }
}